.hm_header {
    position: fixed;
    left: 0;
    top: 0;
    height: 40px;
    width: 100%;
    z-index: 1000;
}

.hm_header>.hm_header_box {
    width: 100%;
    max-width: 640px;
    min-width: 300px;
    margin: 0 auto;
    background: rgba(201, 21, 35, 0);
    height: 40px;
    position: relative;
}

.hm_header>.hm_header_box>.icon_logo {
    width: 60px;
    height: 36px;
    position: absolute;
    background-position: 0 -103px;
    top: 4px;
    left: 10px;
}

.hm_header>.hm_header_box>.login {
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
}

.hm_header>.hm_header_box>form {
    width: 100%;
    padding-left: 75px;
    padding-right: 50px;
    height: 40px;
    position: relative;
}

.hm_header>.hm_header_box>form>input {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin-top: 5px;
    padding-left: 30px;
}

.hm_header>.hm_header_box>form>.icon_search {
    height: 20px;
    width: 20px;
    position: absolute;
    background-position: -60px -109px;
    top: 10px;
    left: 85px;
}

.hm_banner {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.hm_banner>ul:first-child {
    width: 1000%;
    transform: translateX(-10%);
}

.hm_banner>ul:first-child>li {
    width: 10%;
    float: left;
}

.hm_banner>ul:first-child>li>a {
    width: 100%;
    display: block;
}

.hm_banner>ul:first-child>li>a>img {
    width: 100%;
    display: block;
}

.hm_banner>ul:last-child {
    width: 118px;
    height: 6px;
    position: absolute;
    bottom: 6px;
    left: 50%;
    margin-left: -59px;
}

.hm_banner>ul:last-child>li {
    width: 6px;
    height: 6px;
    float: left;
    border-radius: 3px;
    border: 1px solid #fff;
    margin-left: 10px;
}

.hm_banner>ul:last-child>li.now {
    background: #fff;
}

.hm_banner>ul:last-child>li:nth-child(1) {
    margin-left: 0;
}
.hm_nav{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
}
.hm_nav > ul{
    width: 100%;
    padding: 10px 0;
}
.hm_nav > ul > li{
    width: 25%;
    float: left;
}
.hm_nav > ul > li > a{
    display: block;
}
.hm_nav > ul > li > a > img{
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}
.hm_nav > ul > li > a > p{
    text-align: center;
    color: #666;
    font-size: 12px;
    padding: 6px 0;
}